@scope (main) {
  :not(.closed) + .notes-container {
    /* background-color: red; */
    width: 10px;
  }
  .notes-container {
    box-sizing: inherit;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    /* margin: 0 auto; */
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 1px solid var(--border-colour);
    border-left: 1px solid hsl(from var(--border-colour) h s l / 0.5);
    background: var(--background-dark);
    /* background: light-dark(rgba(255, 255, 255, 0.65), rgba(0, 0, 0, 0.45)); */
    padding: 1.2em;

    h3 {
      margin: 0;
      margin-bottom: 1em;
      color: rgb(72, 70, 67);
    }
  }

  @scope (.notes-container  ) {
  }

  /* when too small, just hide*/
  @media (width < 700px) {
    .closed .notes-container {
      max-width: 300px;
    }
  }
  @media (width < 650px) {
    aside:not(.closed) + .notes-container * {
      display: none;
    }
  }
}
