@scope (main) {
  .notes-container {
    box-sizing: inherit;
    flex: 1;
    height: 100%;
    max-width: 1280px;
    /* margin: 0 auto; */
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 1px solid var(--border-colour);
    border-left: 1px solid hsl(from var(--border-colour) h s l / 0.5);
    background: #000;
    /* background: rgba(0, 0, 0, 0.45); */
    padding: inherit;
  }

  @scope (.notes-container  ) {
  }
}
