#root {
  /* min-height: 100dvh; */
  /* width: 100vw; */
  height: 100dvh;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: light-dark(var(--bg-light), var(--bg));
  background-image: url("./assets/Graph-paper.svg");

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  /* topography*/
  &:before {
    background-image: url("./assets/Topography.svg");
  }

  /* gradient*/
  &:after {
    --dark: radial-gradient(transparent 0%, #000 100%);
    --light: radial-gradient(transparent 0%, #fff 100%);
    background: var(--dark);
  }
}

@media (prefers-color-scheme: light) {
  #root::after {
    background: var(--light);
  }
}

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1.2em;
  padding-bottom: 0;
  overflow-x: hidden;

  z-index: 1;
  display: flex;
  justify-content: center;

  /* the navbar when the aside is closed*/
  &:has(aside.closed) + .navbar {
    /* 50 is the width of the aside when its opened */
    max-width: calc(var(--max-width) + 50px);
  }
}

.navbar {
  z-index: 1;
  /* 300 is the width of the aside when its opened */
  max-width: calc(var(--max-width) + 300px);
  width: 100%;
  padding: 0.5em 0;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  .clock-toggle {
    svg {
      height: 24px;
      width: 24px;
      path {
        fill: var(--text-colour);
      }
    }
  }

  .notes-toggle,
  .timer-toggle,
  .clock-toggle {
    background-color: transparent;
    padding: 0.5em;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      border-color 0.25s,
      transform 0.15s cubic-bezier(0.56, 0.72, 0, 0.99);

    &:hover {
      background-color: var(--button-background);
    }
  }

  .calculator {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
@media (width <= 1300px) {
  .navbar {
    padding: 0.5em 1.2em;
  }
}
