#root {
  /* min-height: 100dvh; */
  /* width: 100vw; */
  height: 100vh;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: light-dark(var(--bg-light), var(--bg));
  background-image: url("./assets/Graph-paper.svg");

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  /* topography*/
  &:before {
    background-image: url("./assets/Topography.svg");
  }

  /* gradient*/
  &:after {
    --dark: radial-gradient(transparent 0%, #000 100%);
    --light: radial-gradient(transparent 0%, #fff 100%);
    background: var(--dark);
  }
}

@media (prefers-color-scheme: light) {
  #root::after {
    background: var(--light);
  }
}

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1.2em;

  z-index: 1;
  display: flex;
  justify-content: center;
  /* gap: 1em; */
}
