@scope (main) {
  aside {
    padding: 1.2em;
    border: 1px solid red;
    max-width: 300px;
    width: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border: 1px solid var(--border-colour);
    border-right: 0;
    background: var(--background-dark);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    /* justify-content: space-between; */

    &.expanded {
      max-width: 50px;
      /* everything besides expand/ collapse button */
      > *:not(.title),
      h3 {
        display: none;
      }
    }

    .title {
      display: flex;
      justify-content: center;

      h3 {
        margin: 0;
        color: rgb(72, 70, 67);
      }
      button {
        margin-left: auto;
        display: grid;
        place-items: center;
        background: transparent;
        padding: 0;

        svg {
          height: 1.5em;
          width: 1.5em;
          path {
            fill: light-dark(#000, #fff);
          }
        }
      }
    }

    .tools {
      margin-block: 1em;
      padding: 0;
      display: flex;
      gap: 0.5em;
      align-items: center;

      button {
        padding: 0;
        margin: 0;
        background: transparent;
        height: 2.5em;
        width: 2.5em;

        svg {
          height: 100%;
          width: 100%;
          stroke: light-dark(#000, #fff);
        }
        /* &.addNote svg {
        } */
      }

      input {
        height: 2.5em;
        background-color: var(--button-background);
        border: 1px solid var(--border-colour);
        border-radius: var(--border-radius);
        width: 100%;
        padding: 1em;
        font: inherit;
      }
    }
    .notes {
      --height: 4em;
      --padding: 0.5em;

      ul {
        list-style: none !important;
        padding: 0;
        margin: 0;
      }
    }
  }
}
