@scope (main) {
  aside {
    padding: 1.2em;
    border: 1px solid red;
    max-width: 300px;
    width: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border: 1px solid var(--border-colour);
    border-right: 0;
    background: light-dark(#fff, #000);
    /* background: light-dark(rgba(255, 255, 255, 0.65), rgba(0, 0, 0, 0.45)); */

    &.expanded {
      max-width: 50px;
      /* height: fit-content; */
      h3 {
        display: none;
      }
    }

    /* @media (prefers-color-scheme: light) {
      button svg {
        filter: invert();
      }
    } */

    .title {
      display: flex;
      justify-content: center;
      margin: auto;

      h3 {
        margin: 0;
        color: rgb(72, 70, 67);
      }
      button {
        margin-left: auto;
        display: grid;
        place-items: center;
        background: transparent;
        /* margin: 0; */
        padding: 0;

        svg {
          height: 1.5em;
          width: 1.5em;
          path {
            fill: light-dark(#000, #fff);
          }
          /* fill: light-dark(#000, #fff); */
        }
      }
    }
  }

  @scope (aside) {
  }
}
