@scope (main) {
  aside {
    padding: 1.2em;
    padding-bottom: 0;
    border: 1px solid red;
    /* max-width: 300px; */
    width: 300px;
    flex: 0 0 300px;
    border-radius: var(--border-radius) 0 0 0 var(--border-radius);
    border: 1px solid var(--border-colour);
    border-right: 0;
    background: var(--background-dark);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;
    anchor-name: --anchor1;
    &.closed {
      max-width: 50px;

      /* keep the title bar and toggle visible */
      .top-container > :not(.title),
      .button-group.bottom,
      h3 {
        display: none;
      }
    }

    .title {
      display: flex;
      justify-content: center;

      h3 {
        margin: 0;
        color: rgb(72, 70, 67);
      }
      button {
        margin-left: auto;
        display: grid;
        place-items: center;
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;

        svg {
          height: 1.5em;
          width: 1.5em;
          path {
            fill: light-dark(#000, #fff);
          }
        }
      }
    }

    .tools {
      margin-block: 1em;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      align-items: center;

      /* .import {
        transition:
          transform 0.15s cubic-bezier(0.56, 0.72, 0, 0.99),
          var(--theme-switch-transition);

        &:hover {
          transform: scale(0.9);
        }
        &:active {
          transform: scale(1);
        }
      } */

      /* input {
        height: 2.5em;
        background-color: var(--button-background);
        border: 1px solid var(--border-colour);
        border-radius: var(--border-radius);
        width: 100%;
        padding: 0 1em;
        font: inherit;
        color: light-dark(#000, #fff);
      } */
    }
    .button-group {
      display: flex;
      gap: 0.5em;
      width: 100%;

      background-color: var(--background-dark);

      &.bottom {
        margin-top: auto;
        background-color: var(--background-dark);
        z-index: 1;
        padding: 1.2em;
        padding-inline: 0;
        flex-shrink: 0;
        button {
          display: flex;
          align-items: center;
        }
      }
    }
    .button-group button,
    .import {
      background-color: var(--button-background);
      margin: 0;
      padding: 0.35em 0;
      /* padding-block: 0.25em; */
      flex: 1;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: unset;

      justify-content: center;
      gap: 0.3em;
      white-space: nowrap;

      border-radius: var(--border-radius);
      &:hover {
        transform: none;
      }
    }

    .notes {
      box-sizing: border-box !important;
      padding: 1px;
      --height: 4em;
      --padding: 0.5em;
      min-height: 16em;
      flex: 1 1 auto;
      min-height: 0;
      overflow-y: auto;
      scrollbar-width: thin;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
.button-group button,
.import {
  transition: unset !important;
}
.button-group button:hover,
.import:hover {
  background-color: var(--button-background-hover) !important;
}
.top-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}
.import input {
  display: none;
}

.tools input {
  height: 2.5em;
  background-color: var(--button-background);
  border: 1px solid var(--border-colour);
  border-radius: var(--border-radius);
  width: 100%;
  padding: 0 1em;
  font: inherit;
  color: light-dark(#000, #fff);
}
